<div ng-controller="firstController">
    <div class="panel panel-info result_bg_pane">
        <div class="panel-heading">
            <h4 style="font-size: 20px">小仙女统计报告 分析结论<i class="icon-file-alt" style="margin-left: 1%;"></i>

                <div class="pull-right">
                    <select ng-model="model.examination_name" style="font-size: 22px;margin-top: -10px;"
                            class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <option ng-repeat="examination_name in examination_names">{{examination_name}}</option>
                    </select>
                </div>
            </h4>
        </div>
        <div class="panel-body" style="font-size: 18px">
            经过统计,你的得分率排行如下:
            <table class="table table-striped table-bordered table-hover text-center">
                <thead>
                <tr>
                    <th class="text-center">序号</th>
                    <th class="text-center">类型</th>
                    <th class="text-center">正确题数</th>
                    <th class="text-center">总题数</th>
                    <th class="text-center">每题分值(分)</th>
                    <th class="text-center">使用时间(分钟)</th>
                    <th class="text-center">正确率(%)</th>
                    <th class="text-center">得分</th>
                    <th class="text-center">每分钟得分(分)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in tableInfo">
                    <td>{{$index+1}}</td>
                    <td>{{item.type_name}}</td>
                    <td>{{item.right}}</td>
                    <td>{{item.total}}</td>
                    <td>{{item.score_per_question}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.right_percent}}</td>
                    <td>{{item.score}}</td>
                    <td>{{item.score_rate}}</td>
                </tr>
                </tbody>
            </table>
            根据上述数据计算,推荐你的做题顺序为:<strong>{{suggest}}</strong>时获得最高分:<strong>{{max_score}}</strong>
        </div>
    </div>
</div>