<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.BaseMapper">
    <select id="getNextTypes" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.gs.model.Type">
        SELECT * from tb_type t
        <where>
            <if test="parent_id !=null and parent_id != ''">
                and t.parent_id = #{parent_id}
            </if>
            <if test="id !=null and id != ''">
                and t.id = #{id}
            </if>
            <if test="level !=null and level != ''">
                and t.level = #{level}
            </if>
        </where>
    </select>

    <select id="countByType" parameterType="java.util.List"
            resultType="com.alibaba.fastjson.JSONObject">
        select sum(t.Correct_number) as 'right',sum(t.total) as 'total' from tb_statistics t where t.type_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getLineBarDate" parameterType="java.util.List"
            resultType="com.alibaba.fastjson.JSONObject">
        select sum(t.Correct_number) as "right",sum(t.total) as "total",t.finish_date from tb_statistics t where
        t.type_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by t.finish_date order by t.finish_date asc
    </select>

    <select id="getAllCountPercent" resultType="java.lang.Float">
        select (sum(t.Correct_number)/sum(t.total))*100 from tb_statistics t
    </select>

    <select id="getTypeById" resultType="com.gs.model.Type" parameterType="java.lang.String">
        select * from tb_type t where t.id=#{id}
    </select>

    <select id="getAllExaminationName" resultType="java.lang.String" parameterType="com.alibaba.fastjson.JSONObject">
        select t.examination_name from tb_statistics t group by t.examination_name
    </select>

    <select id="getAllCountPercentLineBar" resultType="com.alibaba.fastjson.JSONObject">
        select sum(t.Correct_number) as "right",sum(t.total) as "total",t.finish_date from tb_statistics t group by t.finish_date order by t.finish_date asc
    </select>

    <select id="getMaxTypeLevel" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
      select max(level) as maxLevel from tb_type
    </select>

    <select id="getTableInfoData" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select sum(t.Correct_number) as "correct_number",sum(t.total) as "total",sum(t.finish_time) as "finish_time"
        from tb_statistics t
        where t.examination_name=#{examination_name}
        and t.type_id in
        <foreach collection="typeIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="addNewData" parameterType="com.alibaba.fastjson.JSONObject">
        insert into tb_statistics (
        <trim suffixOverrides=",">
            <if test="id!=null">id,</if>
            <if test="type_id!=null">type_id,</if>
            <if test="total!=null">total,</if>
            <if test="Correct_number!=null">Correct_number,</if>
            <if test="finish_data!=null">finish_date,</if>
            <if test="finish_time!=null">finish_time,</if>
            <if test="examination_name!=null">examination_name,</if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="type_id!=null">#{type_id},</if>
            <if test="total!=null">#{total},</if>
            <if test="Correct_number!=null">#{Correct_number},</if>
            <if test="finish_data!=null">#{finish_data,jdbcType=TIMESTAMP},</if>
            <if test="finish_time!=null">#{finish_time},</if>
            <if test="examination_name!=null">#{examination_name},</if>
        </trim>
        )
    </insert>
</mapper>